{% extends "base.html" %}

{% block Content %}
<div id="memberEntryFooter" >
<div id="center_card">
{% include 'familytree/personal_info.html' with family_member=person marriage=None descendant=2 %}
</div>
</div>
{% for marriage in marriages %}
<div id="memberEntryFooter" >
<hr size="3px" noshade>
<div id="left50" class="floatLeft">
Married To :
{% if person == marriage.in_law %}
	{% include 'familytree/personal_info.html' with family_member=marriage.descendant marriage=marriage descendant=1 %}
{% else %}
	{% include 'familytree/personal_info.html' with family_member=marriage.in_law marriage=marriage descendant=0 %}
{% endif %}
</div>
<div id="right50" class="floatRight">
Descendents :
{% for child in marriage.get_children %}
{% include 'familytree/personal_info.html' with family_member=child marriage=None descendant=1 %}
{% endfor %}
{% for child in marriage.get_step_children %}
{% include 'familytree/personal_info.html' with family_member=child descendant=0 %}
{% endfor %}
</div>
{% endfor %}
{% endblock %}